.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {
  width: calc(100% / 4 - 20px);
  padding: 0 10px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.container .card .content-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .card .content-card .title h1 {
  font-size: 30px;
}

.container .card .content-card .title h3 {
  font-size: 17px;
  font-style: italic;
}

.container .card .content-card .info h5 {
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: sans-serif;
}

.container .card .content-card .info p {
  font-style: italic;
  padding-bottom: 5px;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

